<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs') %> 
      </head>
    <body>
      <%- include('partials/header.ejs') %>
        <section class="clothingUploader">
          <div class="container">
            <div class="box">
              <form id="pick-form" action="/submitImage" method="POST">
                <div class="field">
                  <div class="control">
                    <button class="button" type="button" id="picker">Pick file</button>
                    <input type="hidden" id="fsHandle" name="fsHandle" value= "none">
                  </div>
                  <div id="thumbnail-container"></div>
                  <br>
                  <div class="control" id="nameBox">
                    <label for="clothingName">Item name?</label>
                    <input type="text" id="clothingName" name="clothingName" value="" required>
                  </div>
                  <br>
                  <div class="control" id="detailsBox">
                    <p>Type of clothing:</p>
                      <input type="radio" id="clTop" name="clType" value="top" required>
                      <label for="clTop">Top</label><br>
                      <input type="radio" id="clBottom" name="clType" value="bottom">
                      <label for="clBottom">Bottom</label><br>
                      <input type="radio" id="clFull" name="clType" value="full">
                      <label for="clFull">Full body</label><br>
                      <input type="radio" id="clShoes" name="clType" value="shoes">
                      <label for="clShoes">Shoes</label><br>
                    <p>Primary Color:</p>
                      <div class="select">
                        <select name="clColor">
                          <option value="red">Red</option>
                          <option value="orange">Orange</option>
                          <option value="yellow">Yellow</option>
                          <option value="green">Green</option>
                          <option value="blue">Blue</option>
                          <option value="purple">Purple</option>
                          <option value="black">Black</option>
                          <option value="brown">Brown</option>
                          <option value="gray">Gray</option>
                          <option value="white">White</option>
                          <option value="multicolored">Multicolored</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div>
                  <button class="submitButton button is-danger" type="submit" formmethod="POST">Add to Closet</button>
                </div>
              </form>
            </div>  
          </div>
        </section>
        <section class="mainContent">
          <%- include('partials/tabs.ejs') %>
          <%- include('partials/templates/closetContents.ejs') %>
        </section>
        <%- include ('partials/footer.ejs') %> 

        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        
        <script>
        const client = filestack.init('<%=process.env.FILESTACK_APIKEY%>');
            const options  = {
        maxFiles: 1,
        uploadInBackground: false,
        onUploadDone: (res) => {
           newImage = res.filesUploaded[0].handle;
          console.log ("This is" + newImage)
          fileInput.value = newImage
          console.log ("Value is now " + fileInput.value)
          imgPreview();
        },
        onFileUploadFailed: () => console.log('failed'),}

        const picker = client.picker(options);

// Get references to the DOM elements
const form = document.getElementById('pick-form');
const fileInput = document.getElementById('fsHandle');
const btn = document.getElementById('picker');
const nameBox = document.getElementById('nameBox');
const urlBox = document.getElementById('urlBox');

// Add our event listeners
btn.addEventListener('click', function (e) {
  e.preventDefault();
  picker.open();
});

// Helper to overwrite the field input value
 function updateForm (result) {
  const fileData = result.filesUploaded[0];
  fileInput.value = fileData.url;
  console.log("Update form says " + fileData)
 }

 function imgPreview() {
    const container = document.getElementById('thumbnail-container');
    const thumbnail = document.getElementById('thumbnail') || new Image();
    thumbnail.id = 'thumbnail';
    thumbnail.classList = 'image is-128x128';
    thumbnail.src = 'https://www.filestackapi.com/api/file/' + newImage;

    if (!container.contains(thumbnail)) {
      container.appendChild(thumbnail);
    }
} 
        </script>
      </body>
</html>