<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs') %> 
      </head>
    <body>
      <%- include('partials/header.ejs') %>
        <section>
          <div class="container">
          <section>
            <div class="box">
              <form id="pick-form" action="/submitImage" method="POST">
                <div class="field">
                  <div class="control">
                    <button class="button" type="button" id="picker">Pick file</button>
                    <input type="text" id="fsHandle" name="fsHandle" value= "none">
                  </div>
                  <div class="control" id="nameBox">
                    <label for="clothingName">Item name?</label>
                    <input type="text" id="clothingName" name="clothingName" value="">
                  </div>
                  <div class="control" id="detailsBox">
                    <p>Type of clothing:</p>
                    <input type="radio" id="clTop" name="clType" value="top">
                    <label for="clTop">Top</label><br>
                    <input type="radio" id="clBottom" name="clType" value="bottom">
                    <label for="clBottom">Bottom</label><br>
                    <input type="radio" id="clFull" name="clType" value="full">
                    <label for="clFull">Full body</label><br>
                    <input type="radio" id="clShoes" name="clType" value="shoes">
                    <label for="clShoes">Shoes</label><br>
                  </div>
                </div>
                <div>
                  <button class="submitButton" type="submit" formmethod="POST">Add to Closet</button>
                </div>
              </form>
            </div>  
          </section>
          </div>
        </section>
        <section>
            <div class="tabs">
                <ul>
                  <li class="is-active"><a href="/closet">Clothes</a></li>
                  <li><a href="/closet/outfits">Outfits</a></li>
                </ul>
              </div>
              <div class="container">
                <%- include('partials/templates/closetContents.ejs') %>
              </div>
        </section>
        <%- include ('partials/footer.ejs') %> 











        <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
        <script>
        const client = filestack.init('<%=process.env.FILESTACK_APIKEY%>');
            const options  = {
        maxFiles: 5,
        uploadInBackground: false,
        onOpen: () => console.log("opened!"),
        onUploadDone: (res) => {
           newImage = res.filesUploaded[0].handle;
          console.log ("This is" + newImage)
          fileInput.value = newImage
          console.log ("Value is now " + fileInput.value)
          /* updateForm(); */
        }
        
        /* console.log (res.filesUploaded[0].handle) */,
        onFileUploadFailed: () => console.log('failed'),}

        const picker = client.picker(options);

// Get references to the DOM elements

const form = document.getElementById('pick-form');
const fileInput = document.getElementById('fsHandle');
const btn = document.getElementById('picker');
const nameBox = document.getElementById('nameBox');
const urlBox = document.getElementById('urlBox');

// Add our event listeners

btn.addEventListener('click', function (e) {
  e.preventDefault();
  picker.open();
});

/* form.addEventListener('submit', function (e) {
  e.preventDefault();
  alert('Submitting: ' + fileInput.value);
}); */

// Helper to overwrite the field input value
 function updateForm (result) {
  const fileData = result.filesUploaded[0];
  fileInput.value = fileData.url;
  console.log("Update form says " + fileData)
} 


/* function updateForm (result) {
  const fileData = result.filesUploaded[0];
  fileInput.value = fileData.url;
  console.log("Update form says " + fileData)
} */
        </script>
      </body>
</html>