<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs') %> 
      </head>
    <body>
      <%- include('partials/header.ejs') %>
        <section>
          <div class="container">
              <div class="content">
                <button class="button is-danger is-medium" id="modalBtn">Launch Outfit Creator</button>
              </div>
            <div class="modal" id="outfitModal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                  <form action="/submitOutfit" method="POST">
                    <h2>Tops and Full Body Clothing</h2>
                    <% for (i=0; i<clothing.length; i++) {%>
                      <% if (clothing[i].type === "top" || clothing[i].type === "full") {%>
                        <br>
                        <article class="media mb-6">
                          <figure class="media-left">
                            <p class="image is-64x64">
                              <img src=<%= clothing[i].image %> alt="clothing">
                            </p>
                          </figure>
                          <div class="media-content">
                            <div class="content">
                              <p>
                                <strong><%= clothing[i].name %></strong>
                                <br>
                                <%= clothing[i].type %>
                              </p>
                            </div>
                          </div>
                          <div class="media-right">
                            <input type="radio" id="topFull" name="topFull" value=<%= clothing[i].image %>>
                            <label for="topFull">Pick</label>
                          </div>
                        </article>
                      
                      <%} else { %> <p></p> <% } %>
                      <%}%>
                      
                      
                      
                      <h2>Bottoms</h2>
                      <% for (i=0; i<clothing.length; i++) {%>
                      <% if (clothing[i].type === "bottom"){ %> 
                        <br>
                        <article class="media mb-6">
                          <figure class="media-left">
                            <p class="image is-64x64">
                              <img src=<%= clothing[i].image %> alt="clothing">
                            </p>
                          </figure>
                          <div class="media-content">
                            <div class="content">
                              <p>
                                <strong><%= clothing[i].name %></strong>
                                <br>
                                <%= clothing[i].type %>
                              </p>
                            </div>
                          </div>
                          <div class="media-right">
                            <input type="radio" id="bottom" name="bottom" value=<%= clothing[i].image %>>
                            <label for="bottom">Pick</label>
                          </div>
                        </article>
                       
                      <% } else { %> <p></p> <% } %>
                      
                      
                        
                      <%}%>
                      
                      <h2>Shoes</h2>
                      <% for (i=0; i<clothing.length; i++) {%>
                      <% if (clothing[i].type === "shoes"){ %>
                        <br>
                        <article class="media mb-6">
                          <figure class="media-left">
                            <p class="image is-64x64">
                              <img src=<%= clothing[i].image %> alt="clothing">
                            </p>
                          </figure>
                          <div class="media-content">
                            <div class="content">
                              <p>
                                <strong><%= clothing[i].name %></strong>
                                <br>
                                <%= clothing[i].type %>
                              </p>
                            </div>
                          </div>
                          <div class="media-right">
                            <input type="radio" id="shoes" name="shoes" value=<%= clothing[i].image %>>
                            <label for="shoes">Pick</label>
                          </div>
                        </article>
 
                      <% } else { %> <p></p> <% } %>
                      
                      
                        
                    <%}%>
                    <div class="field">
                        <label class="label">Outfit Name</label>
                        <div class="control">
                          <input class="input" type="text" id="outfitName" name="outfitName" value="" required>
                        </div>
                        <button class="button is-primary" type="submit" formmethod="POST">Done</button>
                      </div>
                  </form>
                </div>
                </div>
                <button class="modal-close is-large" aria-label="close" id="modalX"></button>
              </div> 
          </div>
        </section>
        <section>
            <div class="tabs">
                <ul>
                  <li class="is-active"><a href="/closet">Clothes</a></li>
                  <li><a href="/closet/outfits">Outfits</a></li>
                </ul>
              </div>
              <div class="container">
                  <div class="columns is-multiline">
                  <% for (i=0; i<outfits.length; i++) {%>
                    <div class="column has-text-centered is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                    <div class="tile is-parent">
                      <div class="tile is-child box">
                              <div class="content is-inline-block">
                                <% if (outfits[i].top === null) {%>
                                  <span></span>
                                  <%} else { %>
                                  <figure class="image is-128x128">
                                      <img src=<%=outfits[i].top%> alt="top">
                                  </figure>
                                  <% } %>
                                  <% if (outfits[i].bottom === null) {%>
                                    <span></span>
                                  <%} else { %>
                                  <figure class="image is-128x128">
                                    <img src=<%=outfits[i].bottom%> alt="bottom">
                                </figure>
                              <% } %>
                              <% if (outfits[i].shoes === null) {%>
                                <span></span>
                                <%} else { %>
                                <figure class="image is-128x128">
                                  <img src=<%=outfits[i].shoes%> alt="shoes">
                              </figure>
                              <% } %>
                              </div>
                              <div class="content">
                                  <p class="title"><%= outfits[i].name %></p>
                                  <form action="/deleteOutfit" method="POST">
                                    <input type="hidden" id="outfitID" name="outfitID" value=<%=outfits[i].id%>>
                                    <button class="button is-small is-danger is-outline" type="submit">Delete</button>
                                </form>
                              </div>
                      </div>
                  </div> 
                </div>
                  <%}%>
                </div>
              </div>
        </section>
        <%- include ('partials/footer.ejs') %> 
        <script>
            const modal = document.getElementById('outfitModal');
            const btn = document.getElementById('modalBtn');
            const modalClose = document.getElementById('modalX');

            btn.onclick = function() {
                modal.style.display = "block";
            }
            modalClose.onclick = function() {
                modal.style.display = "none";
            }

            var tabList = document.getElementById("clothingTabs")
            var tabs = tabList.getElementsByClassName("formTab");

            for (let i =0; i <tabs.length; i++) {
                tabs[i].addEventListener("click", function() {
                    let current = document.getElementsByClassName("is-active");
                    current[0].className = current[0].className.replace("is-active", "")
                    this.className += " is-active";
                })
            }
        </script>
      </body>
</html>