<div class="container">
    <section>
        <div class="columns is-multiline">
            <% for (i=0; i<clothing.length; i++) {%>
            <div class="column is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img src=<%= clothing[i].image %> alt="clothing">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title"><%= clothing[i].name %></p>
                        <div class="content">
                            <span class="tag is-info"><%= clothing[i].type %></span>
                            <span class="tag is-info is-light"><%= clothing[i].colors %></span>
                            <hr>
                            <form action="/deleteItem" method="POST">
                                <input type="hidden" id="itemID" name="itemID" value=<%=clothing[i].id%>>
                                <button class="button is-small is-danger is-outline" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            </div> 
            </div>
        </section>
</div>